<a href="https://colab.research.google.com/github/melancholymans/TalkingData_AdTracking_Fraud_Detection_Challenge/blob/master/TalkingData_AdTracking_Fraud_Detection_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TalkingData_AdTracking_Fraud_Detection_Challenge

In [0]:
import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt

In [0]:
A = np.array([[-0.259255,0.637216],
                     [-0.163380,0.676041],
                     [0.681100,0.122803],
                     [0.483628,0.075390],
                     [0.456400,0.340823]])
B = np.array([[2.400068,0.0],
             [0.0,3.127071]])
C = np.array([[-0.054005,-0.284113,0.675451,0.473945,0.485289],
            [0.745145,0.623738,0.172371,0.148262,0.063380]])

In [0]:
Z=A@B@C
print(A.shape)
print(B.shape)
print(C.shape)
print(Z.shape)
df = pd.DataFrame(Z)

df

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
base_path = 'drive/My Drive/Colab Notebooks/kaggle/TalkingData_AdTracking_Fraud_Detection_Challenge/input/'

In [10]:
df = pd.read_csv(base_path+'train.csv',encoding='utf-16')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
df.head()

       ip  app  device  ...           click_time      attributed_time is_attributed
0  204158   35       1  ...  2017-11-06 15:41:07  2017-11-07 08:17:19             1
1   29692    9       1  ...  2017-11-06 16:00:02  2017-11-07 10:05:22             1
2   64516   35       1  ...  2017-11-06 16:00:02  2017-11-06 23:40:50             1
3  172429   35       1  ...  2017-11-06 16:00:03  2017-11-07 00:55:29             1
4  199085   35       1  ...  2017-11-06 16:00:04  2017-11-06 23:04:54             1

[5 rows x 8 columns]